
:root {
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    padding: 1rem;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div {
    display: inline-block;
}

